
body {margin:0; font-family:Tahoma; background:#f1f1f1;}
.sidebar {
  width:220px; height:100vh; background:#263238; color:white; position:fixed; padding:20px;
}
.sidebar h3 {margin-bottom:20px;}
.sidebar a {
  display:block; padding:10px; margin-bottom:5px; color:white; text-decoration:none;
}
.sidebar a.active {background:#00acc1; border-radius:6px;}
.content {margin-right:240px; padding:20px;}
.cards {display:flex; gap:15px; flex-wrap:wrap;}
.card {background:white; padding:20px; border-radius:10px; width:200px;}
.panel {background:white; padding:20px; margin-top:20px; border-radius:10px;}
table {width:100%; border-collapse:collapse;}
th,td {border-bottom:1px solid #ccc; padding:10px;}
.login-bg {display:flex; justify-content:center; align-items:center; height:100vh; background:#263238;}
.login-box {background:white; padding:30px; border-radius:10px; width:300px;}
input,button {width:100%; padding:10px; margin:10px 0;}
